<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
		<section name="bases" type="backupsAutomaticos.BaseConfigSection, backupsAutomaticos"/>
	</configSections>
	<bases>
		<base>
			<!--agrego los nombres de las bases que quiero realizar backups-->
			<add nombreBase ="BaseTareasS"/>
			<add nombreBase ="testeo"/>
			<add nombreBase ="BASE_QA"/>
		</base>
	</bases>		
	<appSettings>
		<!--rutaDeBackUps ===> ruta donde estaran los backups-->
		<add key ="rutaDeBackUps" value="E:\Users\work\Documents\TEST\" />
		<!--vencimientoDeBks ===> los bks mayores al plazo parametrizado sean eliminados-->
		<add key ="vencimientoDeBks" value="7" />
		<!-- permitirSubidaAlDrive==> valido acceso a subir bks a la nube -->
		<add key ="permitirSubidaAlDrive" value= "false" />
		<!--ApplicationName ===> parametrizo nombre de la plicacion que se creo en https://console.developers.google.com/apis/credentials para obtener el json -->
		<add key ="ApplicationName" value="Quickstart" />
		<!--FolderId ===> parametrizo codigo de direccion url a la carpeta del drive donde se subira  -->
		<add key ="FolderId" value="1MpE0ZiSCtQMvL8LBoIhex303GQKr1mrT" />
		<!--pathCredencial ===>parametrizo la ruta donde tengo alojado el archivo json (client_secret.json) -->
		<add key ="pathCredencial" value="C:\credencial_Json\" />		
	</appSettings>
	<connectionStrings>
		<add name="con" connectionString="Data Source=DESKTOP-ED5CATB\SQLEXPRESS;Initial Catalog=BaseTareasS;User Id=sa;Password=123456"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>